html {
height: 100%;
}
body {
    display: flex;
    flex-direction: column;
  background-color: black;
  font-family: sans-serif;
  padding: 0;
  box-sizing: border-box;
  color: white;
}
.ham {
  /* border:1px solid white; */
 
  width: 25px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.ham:hover {
  cursor: pointer;
}
.line {
  height: 1px;
  background-color: beige;
  width: 100%;
}

.menu {
  margin: 15px 0px 0px;
  
  padding: 6px 8px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap:8px;
  background-color: blueviolet;
  
}
.visible {
    display: none;
}

.content{
    margin-top: 10px;
    background-color: green;
    padding: 2px;
}
